:root {
  --color-background: black;
  --color-primary: #eb5757;
  --color-primary-light: #f28e8e31;
  --color-primary-dark: #eb3c3c;
  --color-secondary: #f9bf52;
  --color-tertiary: #1ab7ea;
  --color-text-primary: #ffffffe5;
  --color-text-secondary: #9a989a;
  --color-nav-hover: #1a1f28;
  --color-gradient: #303437;
  --color-dark-gray: #2c323f;
  --transparent: #111111bf;
  --color-background: white;
  --color-primary: #00d1b2;
  --color-primary-light: #00d1b238;
  --color-primary-dark: #049b84;
  --color-secondary: #7bccca;
  --color-tertiary: #ff94c4;
  --color-text-primary: black;
  --color-text-secondary: #363636;
  --color-nav-hover: #ccccccd5;
  --color-gradient: #303437;
  --color-dark-gray: #c5c4c2;
  --transparent: #ffffffbf;
  --color-background: rgba(255, 255, 255, 0);
  --color-primary: rgba(255, 255, 255, 0);
  --color-primary-light: rgba(255, 255, 255, 0);
  --color-primary-dark: rgba(255, 255, 255, 0);
  --color-secondary: rgba(255, 255, 255, 0);
  --color-tertiary: rgba(255, 255, 255, 0);
  --color-text-primary: rgba(255, 255, 255, 0);
  --color-text-secondary: rgba(255, 255, 255, 0);
  --color-nav-hover: rgba(255, 255, 255, 0);
  --color-gradient: rgba(255, 255, 255, 0);
  --color-dark-gray: rgba(255, 255, 255, 0);
  --transparent: rgba(255, 255, 255, 0); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif; }

html {
  font-size: 62.5%; }
  @media (max-width: 769px) {
    html {
      font-size: 50%; } }
  @media (max-width: 320px) {
    html {
      font-size: 40%; } }

body {
  background-color: var(--color-background);
  letter-spacing: 0.6px; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.7;
  color: var(--color-primary); }

.heading__primary {
  color: var(--color-text-primary);
  font-size: 4.5rem;
  font-weight: 900;
  letter-spacing: -1px;
  margin-bottom: 1rem; }
  @media (max-width: 425px) {
    .heading__primary {
      font-size: 4rem;
      letter-spacing: 1px; } }

.heading__secondary {
  color: var(--color-text-primary);
  font-size: 3rem; }
  @media (max-width: 425px) {
    .heading__secondary {
      font-size: 2.5rem; } }

.heading__tertiary {
  color: var(--color-text-primary); }

::selection {
  background-color: var(--color-primary); }

.visible {
  transition: all 0.6s ease;
  opacity: 1 !important;
  visibility: visible !important;
  height: 100% !important; }

.u-margin-bottom-medium {
  margin-bottom: 5rem; }

.u-margin-bottom-small {
  margin-bottom: 3rem; }

.u-margin-bottom-extra-small {
  margin-bottom: 0.4rem; }

.u-border-bottom-none {
  border-bottom: none !important; }

.hidden {
  height: 0 !important;
  padding: 0 !important;
  transition: all 0.4s ease; }

.u-grid-2-col {
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr; }
  .u-grid-2-col-item {
    justify-self: center; }
  @media (max-width: 425px) {
    .u-grid-2-col {
      grid-template-columns: 1fr; } }

.header {
  max-width: 782px;
  margin: 0 auto;
  padding: 10rem 0 6rem 0;
  border-bottom: 1px solid var(--color-dark-gray); }
  @media (max-width: 769px) {
    .header {
      margin-top: 10rem;
      width: 90%; } }
  .header__svg {
    background-color: var(--color-primary);
    height: 6rem;
    border-radius: 1.8rem;
    transform: rotate(-5deg); }
    .header__svg .shadow {
      fill: var(--color-background); }
  .header__svg--small {
    background-color: var(--color-primary);
    height: 4.5rem;
    border-radius: 1.4rem;
    transform: rotate(-5deg); }
    .header__svg--small .shadow {
      fill: var(--color-background); }

.header__text {
  color: var(--color-text-primary);
  font-size: 2.5rem;
  letter-spacing: 1px;
  font-weight: 300;
  margin-bottom: 3rem; }

.header__fun-text {
  display: inline;
  color: var(--color-primary-dark);
  font-weight: 400;
  padding: 0.6rem 1rem;
  transition: all 0.3s ease;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone; }
  @media (max-width: 425px) {
    .header__fun-text {
      background-color: var(--color-primary-light);
      border-radius: 8px; } }
  .header__fun-text:hover {
    background-color: var(--color-primary-light);
    border-radius: 8px;
    cursor: pointer; }

.btn__header {
  color: var(--color-text-primary);
  text-decoration: none;
  padding: 0.6rem 0.4rem;
  background-color: var(--color-nav-hover);
  transition: all 0.2s ease; }
  .btn__header:hover {
    background-color: var(--color-primary-light);
    padding: 0.8rem 0.6rem; }
  .btn__header .icon {
    transform: translateY(0.5rem); }

.navigation {
  position: relative;
  z-index: 100;
  border-bottom: 1px solid var(--color-dark-gray);
  margin: 0 auto; }
  @media (max-width: 769px) {
    .navigation {
      position: fixed;
      top: 0;
      width: 100%;
      max-width: 100%; } }
  .navigation__anchor {
    text-decoration: none;
    color: inherit; }
  .navigation__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 2rem 1.5rem 2rem; }
    .navigation__buttons-left-container {
      display: flex;
      gap: 2rem;
      line-height: 1.3; }
      .navigation__buttons-left-container-name {
        transition: all 120ms ease-out 0s;
        color: var(--color-text-primary);
        letter-spacing: 1px;
        transform: translateY(-0.8rem);
        padding: 0.4rem 1rem 0.4rem 1rem;
        border-left: 0px solid var(--color-primary); }
        .navigation__buttons-left-container-name:hover {
          border-left: 4px solid var(--color-primary);
          background-color: var(--color-nav-hover); }
        @media (max-width: 425px) {
          .navigation__buttons-left-container-name {
            transform: translateY(-0.2rem); } }
      .navigation__buttons-left-container .name {
        font-weight: 600;
        font-size: 1.6rem; }
      .navigation__buttons-left-container .job {
        font-weight: 400;
        font-size: 1.3rem; }
  .navigation__button {
    background-color: transparent;
    border: none;
    height: 100%;
    cursor: pointer; }
  .navigation__theme--svg {
    height: 3.6rem;
    padding: 18%;
    color: var(--color-text-primary);
    border: 2px solid var(--color-primary);
    border-radius: 0.8rem;
    background: linear-gradient(to bottom, rgba(var(--color-background), 0.4), rgba(var(--color-text-secondary), 0.3));
    box-shadow: 0 1rem 2rem rgba(var(--color-text-secondary), 0.2); }
    @media (max-width: 425px) {
      .navigation__theme--svg {
        height: 4.8rem; } }
    .navigation__theme--svg:hover {
      transition: all 0.3s ease;
      background: var(--color-text-primary);
      color: var(--color-background); }
  .navigation__list--desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0 2rem 0;
    width: 100%;
    max-width: 782px;
    margin: 0 auto; }
    @media (max-width: 769px) {
      .navigation__list--desktop {
        display: none; } }
    .navigation__list--desktop::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0.6rem;
      background: linear-gradient(to right, var(--color-primary), var(--color-secondary), var(--color-tertiary)); }
  .navigation__items--desktop {
    display: flex;
    list-style: none;
    gap: 2rem; }
  .navigation__item--desktop {
    position: relative;
    color: var(--color-text-secondary);
    padding: 0 0.4rem; }
    .navigation__item--desktop .active {
      color: var(--color-text-primary); }
      .navigation__item--desktop .active::after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 100%;
        height: 1.8px;
        background-color: var(--color-primary) !important; }
    .navigation__item--desktop a:hover {
      color: var(--color-text-primary); }
      .navigation__item--desktop a:hover::after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 100%;
        height: 1.8px;
        background-color: var(--color-text-primary); }
  .navigation__list--mobile {
    position: relative;
    width: 100%;
    background: var(--transparent);
    backdrop-filter: blur(40px) saturate(200%); }
    @media (min-width: 769px) {
      .navigation__list--mobile {
        display: none; } }
    @media (max-width: 769px) {
      .navigation__list--mobile {
        background: var(--transparent);
        backdrop-filter: blur(40px) saturate(200%); } }
    @media (max-width: 425px) {
      .navigation__list--mobile {
        padding: 0.6rem 0rem;
        border-bottom: 1px solid var(--color-dark-gray); } }
    .navigation__list--mobile::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0.6rem;
      background: linear-gradient(to right, var(--color-primary), var(--color-secondary), var(--color-tertiary)); }
      @media (max-width: 425px) {
        .navigation__list--mobile::before {
          height: 1rem; } }
  .navigation__items--mobile {
    list-style: none;
    font-size: 1.4rem;
    opacity: 0;
    visibility: hidden;
    height: 0; }
    .navigation__items--mobile .selected {
      border-radius: 0.4rem;
      background-color: var(--color-primary-light) !important; }
    @media (max-width: 425px) {
      .navigation__items--mobile {
        font-size: 1.6rem;
        font-weight: 400; } }
  .navigation__item--mobile {
    padding: 0.6rem 1rem;
    color: var(--color-text-primary); }
    @media (max-width: 425px) {
      .navigation__item--mobile {
        padding: 1rem 2rem; } }
    .navigation__item--mobile:not(:last-child) {
      margin-bottom: 0.6rem; }
    .navigation__item--mobile:hover {
      border-radius: 0.4rem;
      background-color: var(--color-nav-hover); }

.section {
  max-width: 782px;
  margin: 0 auto;
  padding: 5rem 0 5rem 0;
  border-bottom: 1px solid var(--color-dark-gray); }
  @media (max-width: 769px) {
    .section {
      width: 90%; } }
  .section__logo {
    height: 5rem;
    transform: rotate(0) scale(1) translate(0);
    border-radius: 1rem; }
  .section__container--element {
    border-bottom: 1px solid var(--color-dark-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s ease;
    border-left: 0px solid transparent;
    padding: 1rem 0 1rem 0rem;
    overflow: hidden; }
    .section__container--element:hover {
      cursor: pointer;
      border-left: 4px solid var(--color-primary);
      transform: translateX(0);
      padding: 1rem 0 1rem 1.8rem;
      background-color: var(--color-primary-light); }
    .section__container--element:hover > .section__container--element--right {
      transform: rotate(6deg) scale(2) translate(-0.4rem, 0.5rem); }
    .section__container--element--right {
      padding: 0.8rem 1rem;
      border-radius: 1rem;
      transition: all 0.2s ease; }
    .section__container--element--text {
      color: var(--color-text-secondary);
      font-weight: 400;
      letter-spacing: 1px;
      margin-bottom: 0.2rem; }
      .section__container--element--text--date {
        color: var(--color-text-secondary);
        font-size: 1.4rem;
        margin-bottom: 1rem; }

.experience--text {
  font-size: 1.8rem;
  color: var(--color-text-secondary); }

.bg-1 {
  background-color: #b0dc2d; }

.bg-2 {
  background-color: #f6bf60; }

.bg-3 {
  background-color: #ebccd2; }

.bg-4 {
  background-color: #15aabf; }

.bg-universal {
  background-color: var(--color-nav-hover); }

.contact {
  max-width: calc(1080px);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding: 20rem 0 15rem 0;
  border-bottom: 1px solid var(--color-dark-gray); }
  @media (max-width: 625px) {
    .contact {
      flex-direction: column;
      justify-content: center;
      padding: 15rem 0 10rem 0; } }
  @media (max-width: 425px) {
    .contact {
      gap: 4rem; } }
  .contact__left {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.08);
    width: 35%;
    border-collapse: collapse;
    border-radius: 2rem; }
    @media (max-width: 625px) {
      .contact__left {
        width: 70%;
        margin: 0 auto; } }
    @media (max-width: 425px) {
      .contact__left {
        width: 85%;
        margin: 0 auto; } }
    @media (max-width: 320px) {
      .contact__left {
        width: 90%;
        margin: 0 auto; } }
    .contact__left--top {
      position: relative;
      padding: 6rem 1.5rem 2.5rem 1.5rem;
      border: 1px solid var(--color-dark-gray);
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem; }
    .contact__left--bottom {
      padding: 1.5rem;
      color: var(--color-text-primary);
      border: 1px solid var(--color-dark-gray);
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem; }
      .contact__left--bottom--icon {
        transform: translateY(0.4rem);
        margin-left: 1rem; }
        @media (max-width: 425px) {
          .contact__left--bottom--icon {
            transform: translateY(1rem);
            margin-right: 1rem; } }
      .contact__left--bottom--email {
        padding: 0.8rem 2rem 0.8rem 0rem;
        border-radius: 0.6rem;
        transition: all 0.3s ease; }
        .contact__left--bottom--email:hover {
          background-color: var(--color-primary-light);
          cursor: pointer; }
    .contact__left--text {
      color: var(--color-text-primary);
      font-size: 1.8rem; }
  .contact__right {
    width: 50%;
    padding: 2rem 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.08);
    border-radius: 1rem;
    border: 1px solid var(--color-dark-gray); }
    @media (max-width: 625px) {
      .contact__right {
        width: 70%;
        margin: 0 auto; } }
    @media (max-width: 425px) {
      .contact__right {
        width: 85%;
        margin: 0 auto; } }
    @media (max-width: 320px) {
      .contact__right {
        width: 90%;
        margin: 0 auto; } }
    .contact__right--input {
      display: block;
      width: 100%;
      padding: 1.5rem 1rem;
      font-family: inherit;
      background-color: var(--color-nav-hover);
      border: none;
      border-radius: 0.6rem;
      letter-spacing: 1.5px; }
      .contact__right--input:not(:last-child) {
        margin-bottom: 2rem; }
      .contact__right--input:focus {
        outline: 2px solid var(--color-primary); }
    .contact__right--button {
      font-size: 1.6rem;
      font-weight: 600;
      width: 100%;
      padding: 1.5rem 1rem;
      font-family: inherit;
      border-radius: 0.6rem;
      border: none;
      color: var(--color-text-secondary);
      background-color: var(--color-primary);
      cursor: pointer; }
    .contact__right--text {
      font-size: 1.8rem;
      color: var(--color-text-secondary); }

.send-mail {
  text-decoration: none;
  color: inherit; }

.footer {
  max-width: 782px;
  margin: 0 auto;
  padding: 6rem 0; }
  @media (max-width: 769px) {
    .footer {
      width: 90%; } }
  .footer__grid {
    display: grid;
    justify-content: start;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
    margin-bottom: 8rem; }
    .footer__grid--element {
      font-size: 1.3rem;
      font-weight: 600; }
      .footer__grid--element-link {
        transition: all 0.3s ease;
        text-decoration: none;
        color: var(--color-text-secondary);
        padding: 0.6rem 1rem 0.6rem 0rem;
        border-left: 4px solid transparent; }
        .footer__grid--element-link:hover {
          padding: 0.6rem 1rem 0.6rem 1rem;
          border-left: 4px solid var(--color-primary);
          background-color: var(--color-primary-light);
          cursor: pointer; }
  .footer__name-and-logo {
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    padding: 1rem 1rem 0.6rem 0rem;
    border-left: 4px solid transparent;
    margin-bottom: 1.6rem; }
    .footer__name-and-logo:hover {
      padding: 1rem 1rem 0.6rem 1rem;
      border-left: 4px solid var(--color-primary);
      background-color: var(--color-primary-light);
      cursor: pointer; }
  .footer__name-box {
    transform: translateY(-0.4rem);
    color: var(--color-text-secondary);
    line-height: 1.5;
    letter-spacing: 1px; }
    .footer__name-box-name {
      font-size: 1.4rem;
      font-weight: 800; }
    .footer__name-box-job {
      font-size: 1.4rem;
      font-weight: 500; }
  .footer__reach {
    display: flex; }
    .footer__reach-icon {
      transition: all 0.2s ease;
      text-decoration: none;
      color: var(--color-text-secondary);
      padding: 0.2rem 0.8rem 0.15rem 0.8rem;
      border-radius: 0.8rem;
      margin-right: 2rem; }
      .footer__reach-icon:hover {
        transform: scale(1.2);
        color: var(--color-primary-dark);
        background-color: var(--color-primary-light); }
  .footer__details-and-reset {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.btn--reset {
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 0.6rem;
  color: var(--color-text-primary);
  background-color: var(--color-dark-gray);
  cursor: pointer; }
  @media (max-width: 320px) {
    .btn--reset {
      font-size: 1.3rem; } }

.gradient__box-outer {
  height: calc(512px);
  background: linear-gradient(150deg, var(--color-secondary), var(--color-tertiary), var(--color-primary), var(--color-primary));
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  filter: blur(8px);
  z-index: -1;
  opacity: 0.2; }

.gradient__box-inner {
  position: absolute;
  inset: 0px;
  z-index: 10;
  backdrop-filter: blur(4px) saturate(300%);
  background: linear-gradient(-12deg, var(--color-background), var(--color-background), transparent); }

.animoji {
  height: 10rem;
  border-radius: 50%;
  transition: all 0.3s ease; }
  .animoji-background {
    position: absolute;
    top: -5.5rem;
    left: 2.5rem; }
    .animoji-background::after {
      position: absolute;
      content: "";
      display: block;
      right: 0;
      top: -2.2rem;
      height: 2.2rem;
      width: 2.2rem;
      border-radius: 50%;
      background-color: var(--color-primary); }
    .animoji-background::before {
      position: absolute;
      content: "";
      display: block;
      right: -2rem;
      top: 0.4rem;
      height: 1.4rem;
      width: 1.4rem;
      border-radius: 50%;
      background-color: var(--color-tertiary); }
  .animoji-background-about {
    display: inline-block;
    position: relative; }
    .animoji-background-about::after {
      transition: all 0.3s ease;
      position: absolute;
      content: "";
      display: block;
      top: -3.2rem;
      right: 0;
      height: 2.2rem;
      width: 2.2rem;
      border-radius: 50%;
      background-color: var(--color-primary); }
    .animoji-background-about::before {
      transition: all 0.3s ease;
      position: absolute;
      content: "";
      display: block;
      top: 0.8rem;
      right: -3rem;
      height: 1.4rem;
      width: 1.4rem;
      border-radius: 50%;
      background-color: var(--color-tertiary); }
    .animoji-background-about:hover::after {
      top: -2.2rem;
      right: 0; }
    .animoji-background-about:hover::before {
      top: 0.4rem;
      right: -2rem; }
    .animoji-background-about:hover > .animoji {
      transform: scale(1.1); }

.themes {
  overflow: hidden;
  padding: 1rem 2rem;
  height: 140px;
  transition: all 0.4s ease; }
  @media (max-width: 769px) {
    .themes {
      backdrop-filter: blur(40px) saturate(200%);
      height: 120px; } }
  @media (max-width: 425px) {
    .themes {
      height: 100px; } }
  .themes__text {
    text-align: center;
    font-size: 1.2rem;
    color: var(--color-text-secondary);
    font-weight: 600;
    margin-bottom: 1rem; }
  .themes__items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem; }
    .themes__items-item {
      cursor: pointer; }
      .themes__items-item-light {
        background-color: white;
        padding: 1.3rem 2rem;
        border: 3px solid #00d1b2;
        border-radius: 0.5rem; }
        .themes__items-item-light-name {
          text-align: center;
          color: black;
          font-weight: 400;
          font-size: 1.2rem;
          margin-bottom: 0.5rem; }
        .themes__items-item-light-colors {
          display: flex;
          justify-content: space-around;
          gap: 1rem; }
          .themes__items-item-light-colors-color-primary {
            height: 1.5rem;
            width: 1.5rem;
            background-color: #00d1b2;
            border-radius: 50%; }
          .themes__items-item-light-colors-color-secondary {
            height: 1.5rem;
            width: 1.5rem;
            background-color: #7bccca;
            border-radius: 50%; }
          .themes__items-item-light-colors-color-tertiary {
            height: 1.5rem;
            width: 1.5rem;
            background-color: #ff94c4;
            border-radius: 50%; }
    .themes__items-item {
      cursor: pointer; }
      .themes__items-item-dark {
        background-color: black;
        padding: 1.3rem 2rem;
        border: 3px solid #eb5757;
        border-radius: 0.5rem; }
        .themes__items-item-dark-name {
          text-align: center;
          color: #ffffffe5;
          font-weight: 400;
          font-size: 1.2rem;
          margin-bottom: 0.5rem; }
        .themes__items-item-dark-colors {
          display: flex;
          justify-content: space-around;
          gap: 1rem; }
          .themes__items-item-dark-colors-color-primary {
            height: 1.5rem;
            width: 1.5rem;
            background-color: #eb5757;
            border-radius: 50%; }
          .themes__items-item-dark-colors-color-secondary {
            height: 1.5rem;
            width: 1.5rem;
            background-color: #f9bf52;
            border-radius: 50%; }
          .themes__items-item-dark-colors-color-tertiary {
            height: 1.5rem;
            width: 1.5rem;
            background-color: #1ab7ea;
            border-radius: 50%; }

.main__wrapper {
  transition: all 0.4s ease; }

.section__project {
  border-bottom: 1px solid var(--color-dark-gray); }
  .section__project--text {
    font-size: 1.8rem;
    color: var(--color-text-primary);
    margin-bottom: 4rem; }

.projects--project-imageDesktop {
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }

.section--project {
  padding: 10rem 0; }
  @media (max-width: 769px) {
    .section--project {
      padding: 15rem 0; } }
  .section--project-back-button {
    font-size: 1.6rem;
    letter-spacing: 0.4px;
    text-decoration: none;
    background-color: var(--color-nav-hover);
    color: var(--color-text-primary);
    padding: 0.6rem 0.4rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease; }
    .section--project-back-button:hover {
      background-color: var(--color-primary-light);
      padding: 0.8rem 0.6rem; }
  .section--project-description {
    color: var(--color-text-primary);
    font-size: 2.4rem;
    font-weight: 400; }
  .section--project-details {
    color: var(--color-text-primary);
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 1.2px; }
  .section--project-buttons a {
    text-decoration: none; }
  .section--project-buttons-button {
    font-size: 1.4rem;
    padding: 0.8rem 1rem;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-dark-gray);
    border-radius: 0.5rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s ease;
    font-weight: 500; }
    .section--project-buttons-button:not(:last-child) {
      margin-right: 1.5rem; }
    .section--project-buttons-button:hover {
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
      transform: scale(1.05); }
    .section--project-buttons-button:active {
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      transform: scale(1); }

.section__about {
  max-width: 782px;
  margin: 0 auto;
  padding: 10rem 0 6rem 0;
  border-bottom: 1px solid var(--color-dark-gray); }
  @media (max-width: 769px) {
    .section__about {
      padding: 18rem 0 6rem 0; } }
  .section__about--button-mail {
    background-color: var(--color-nav-hover);
    color: var(--color-text-primary); }
  .section__about::after {
    content: "";
    display: table;
    clear: both; }
  .section__about-text {
    font-size: 1.75rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--color-text-primary); }

.button--resume {
  display: inline-block;
  padding: 0.6rem 1rem;
  background-color: var(--color-primary);
  color: var(--color-text-secondary);
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease; }
  .button--resume:hover {
    transform: scale(1.05); }
  .button--resume:active {
    transform: scale(1); }

.about--list-items {
  list-style: none;
  color: var(--color-text-primary);
  font-size: 1.75rem;
  margin-top: 0.5rem;
  margin-bottom: 3rem; }

.about--list-item {
  margin-bottom: 0.5rem; }
  .about--list-item::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important; }
