:root {
  //Theme 1
  --color-background: black;
  --color-primary: #eb5757;
  --color-primary-light: #f28e8e31;
  --color-primary-dark: #eb3c3c;
  --color-secondary: #f9bf52;
  --color-tertiary: #1ab7ea;
  --color-text-primary: #ffffffe5;
  --color-text-secondary: #9a989a;
  --color-nav-hover: #1a1f28;
  --color-gradient: #303437;
  --color-dark-gray: #2c323f;
  --transparent: #111111bf;

  //   Theme2
  --color-background: white;
  --color-primary: #00d1b2;
  --color-primary-light: #00d1b238;
  --color-primary-dark: #049b84;
  --color-secondary: #7bccca;
  --color-tertiary: #ff94c4;
  --color-text-primary: black;
  --color-text-secondary: #363636;
  --color-nav-hover: #ccccccd5;
  --color-gradient: #303437;
  --color-dark-gray: #c5c4c2;
  --transparent: #ffffffbf;

  //Transparent
  --color-background: rgba(255, 255, 255, 0);
  --color-primary: rgba(255, 255, 255, 0);
  --color-primary-light: rgba(255, 255, 255, 0);
  --color-primary-dark: rgba(255, 255, 255, 0);
  --color-secondary: rgba(255, 255, 255, 0);
  --color-tertiary: rgba(255, 255, 255, 0);
  --color-text-primary: rgba(255, 255, 255, 0);
  --color-text-secondary: rgba(255, 255, 255, 0);
  --color-nav-hover: rgba(255, 255, 255, 0);
  --color-gradient: rgba(255, 255, 255, 0);
  --color-dark-gray: rgba(255, 255, 255, 0);
  --transparent: rgba(255, 255, 255, 0);
}
