:root {
  //Theme 1
  --color-background: black;
  --color-primary: #eb5757;
  --color-primary-light: #f28e8e31;
  --color-primary-dark: #eb3c3c;
  --color-secondary: #f9bf52;
  --color-tertiary: #1ab7ea;
  --color-text-primary: #ffffffe5;
  --color-text-secondary: #9a989a;
  --color-nav-hover: #1a1f28;
  --color-gradient: #303437;
  --color-dark-gray: #2c323f;

  //   Theme2
  --color-background: white;
  --color-primary: #00d1b2;
  --color-primary-light: #00d1b238;
  --color-primary-dark: #049b84;
  --color-secondary: #7bccca;
  --color-tertiary: #ff94c4;
  --color-text-primary: black;
  --color-text-secondary: #363636;
  --color-nav-hover: #ccccccd5;
  --color-gradient: #303437;
  --color-dark-gray: #f7f6f3;
}
