.contact {
  max-width: calc(1080px);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding: 20rem 0 15rem 0;
  border-bottom: 1px solid var(--color-dark-gray);

  @media (max-width: 625px) {
    flex-direction: column;
    justify-content: center;
    padding: 15rem 0 10rem 0;
  }
  @media (max-width: 425px) {
    gap: 4rem;
  }

  &__left {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.08);
    width: 35%;
    border-collapse: collapse;
    border-radius: 2rem;
    @media (max-width: 625px) {
      width: 70%;
      margin: 0 auto;
    }
    @media (max-width: 425px) {
      width: 85%;
      margin: 0 auto;
    }
    @media (max-width: 320px) {
      width: 90%;
      margin: 0 auto;
    }
    &--top {
      position: relative;
      padding: 6rem 1.5rem 2.5rem 1.5rem;
      border: 1px solid var(--color-dark-gray);
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
    }
    &--bottom {
      padding: 1.5rem;
      color: var(--color-text-primary);
      border: 1px solid var(--color-dark-gray);
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      &--icon {
        transform: translateY(0.4rem);
        margin-left: 1rem;
        @media (max-width: 425px) {
          transform: translateY(1rem);
          margin-right: 1rem;
        }
      }
      &--email {
        padding: 0.8rem 2rem 0.8rem 0rem;
        border-radius: 0.6rem;
        transition: all 0.3s ease;
        &:hover {
          background-color: var(--color-primary-light);
          cursor: pointer;
        }
      }
    }
    &--text {
      color: var(--color-text-primary);
      font-size: 1.8rem;
    }
  }

  &__right {
    width: 50%;
    padding: 2rem 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.08);
    border-radius: 1rem;
    border: 1px solid var(--color-dark-gray);
    @media (max-width: 625px) {
      width: 70%;
      margin: 0 auto;
    }
    @media (max-width: 425px) {
      width: 85%;
      margin: 0 auto;
    }
    @media (max-width: 320px) {
      width: 90%;
      margin: 0 auto;
    }
    &--input {
      display: block;
      width: 100%;
      padding: 1.5rem 1rem;
      font-family: inherit;
      background-color: var(--color-nav-hover);
      border: none;
      border-radius: 0.6rem;
      letter-spacing: 1.5px;
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
      &:focus {
        outline: 2px solid var(--color-primary);
      }
    }
    &--button {
      font-size: 1.6rem;
      font-weight: 600;
      width: 100%;
      padding: 1.5rem 1rem;
      font-family: inherit;
      border-radius: 0.6rem;
      border: none;
      color: var(--color-text-primary);
      background-color: var(--color-primary);
      cursor: pointer;
    }
    &--text {
      font-size: 1.8rem;
      color: var(--color-text-secondary);
    }
  }
}
.send-mail {
  text-decoration: none;
  color: inherit;
}
