.section {
  max-width: 782px;
  margin: 0 auto;
  padding: 5rem 0 5rem 0;
  border-bottom: 1px solid var(--color-dark-gray);
  @media (max-width: 769px) {
    width: 90%;
  }
  &__logo {
    height: 5rem;
    transform: rotate(0) scale(1) translate(0);
    border-radius: 1rem;
  }
  &__container {
    &--element {
      border-bottom: 1px solid var(--color-dark-gray);
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all 0.2s ease;
      border-left: 0px solid transparent;
      padding: 1rem 0 1rem 0rem;
      overflow: hidden;
      &:hover {
        cursor: pointer;
        border-left: 4px solid var(--color-primary);
        transform: translateX(0);
        padding: 1rem 0 1rem 1.8rem;
        background-color: var(--color-primary-light);
      }
      &:hover > &--right {
        transform: rotate(6deg) scale(2) translate(-0.4rem, 0.5rem);
        @media (max-width: 425px) {
          // transform: rotate(0) scale(1.2) translateX(0);
        }
      }
      &--right {
        padding: 0.8rem 1rem;
        border-radius: 1rem;
        transition: all 0.2s ease;
        @media (max-width: 425px) {
          // position: absolute;
          // right: -3rem;
          // right: 2rem;
          // transform: rotate(6deg) scale(1) translate(0);
        }
      }
      &--text {
        color: var(--color-text-secondary);
        font-weight: 400;
        letter-spacing: 1px;
        margin-bottom: 0.2rem;
        &--date {
          color: var(--color-text-secondary);
          font-size: 1.4rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
.experience--text {
  font-size: 1.8rem;
  color: var(--color-text-secondary);
}
.bg {
  &-1 {
    background-color: #b0dc2d;
  }
  &-2 {
    background-color: #f6bf60;
  }
  &-3 {
    background-color: #ebccd2;
  }
  &-4 {
    background-color: #15aabf;
  }
  &-universal {
    background-color: var(--color-nav-hover);
  }
}
