* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 62.5%;
  @media (max-width: 769px) {
    font-size: 50%;
  }
  @media (max-width: 426px) {
    font-size: 45%;
  }
}

body {
  background-color: var(--color-background);
  letter-spacing: 0.6px;
}
