.themes {
  padding: 1rem 2rem;
  height: 140px;
  transition: all 0.4s ease;

  @media (max-width: 769px) {
    // position: fixed;
    backdrop-filter: blur(40px) saturate(200%);
    // width: 100%;
    height: 120px;
  }
  @media (max-width: 425px) {
    height: 100px;
  }

  &__text {
    text-align: center;
    font-size: 1.2rem;
    color: var(--color-text-secondary);
    font-weight: 600;
    margin-bottom: 1rem;
  }
  &__items {
    white-space: nowrap;
    overflow: auto hidden;
    text-align: center;

    &-item {
      &:not(:last-child) {
        margin-right: 1rem;
      }
      display: inline-block;
      cursor: pointer;
      &-light {
        @include addTheme(white, black, #00d1b2, #7bccca, #ff94c4);
      }
    }
    &-item {
      cursor: pointer;
      &-dark {
        @include addTheme(black, #ffffffe5, #eb5757, #f9bf52, #1ab7ea);
      }
    }
    &-item {
      cursor: pointer;
      &-purple {
        @include addTheme(#1e3253, #ffffff, #d884ff, #eb505a, #aac86e);
      }
    }
    &-item {
      cursor: pointer;
      &-green {
        @include addTheme(#ecf5e3, #303e22, #2d9641, #b8723f, #b33938);
      }
    }
    &-item {
      cursor: pointer;
      &-gray {
        @include addTheme(#313437, #ebebeb, #eb5757, #f9bf52, #069ccd);
      }
    }
    &-item {
      cursor: pointer;
      &-maroon {
        @include addTheme(#621832, #fff, #ffd845, #d44159, #ceaaef);
      }
    }
  }
}

.main__wrapper {
  transition: all 0.4s ease;
}
